

.example {
  -webkit-columns: 4 150px;
  -moz-columns: 4 150px;
  columns: 4 150px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

h1 {
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
  font-size: 2em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.lead {
  font-variant: small-caps;
  font-size: 1.3em;
  text-align: left;
  font-style: italic;
}
.canvas {
    background-size: auto;
    position: relative;
    margin: 1em auto;
    margin-right: 15px;
    margin-left: 15px;
}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 5px;
}

.portfolio > div{
  background: #c4eede;
  opacity: 0.8;
  font-weight: 500;
  font-family: 'Athiti', sans-serif;
  display: flex;
  justify-items: stretch;
  align-items: stretch;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  border-radius: 5px;

}
.four {
    grid-row: span 3;
    grid-column: span 2;
  }
  
.one {
    grid-row: span 2;
    grid-column: span 2;
  }

.five {
    grid-row: span 2;
    grid-column: span 2;
  }

.six {
    grid-row: span 2;
    grid-column: span 2;
  }

.three {
    grid-row: span 1;
    grid-column: span 2;
  }
  
.two {
    grid-row: span 1;
    grid-column: span 4;
  }
    

.portfolio > div:hover {
    opacity: 0.5;
    cursor: pointer;
  }
.portfolio > div:active {
    background-color: #FFF68F;
    
}

table.MTPlan {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #DCDCDC;
    
}

table .MTPlan tr td {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    border: 0px solid #DCDCDC;   
}

 table.test  {
     padding-top: 10px;
     float: right;
     border: 0px solid #DCDCDC;
     margin-right: 30px;
}
.tableNumber{
    display: inline-block;
    padding: 10px;
    margin-bottom: -20px;
    margin-top: -10px;
}

table.Terraces1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #DCDCDC;
    
}
table.Terraces1 tr td {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 14px;
    border: 0px solid #DCDCDC;   
    vertical-align: top;
}

table.Zone1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #DCDCDC;
    
}
table.Zone1 tr td {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    border: 0px solid #DCDCDC;   
    vertical-align: top;
}


table.Zone2 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #DCDCDC;
    
}
table.Zone2 tr td {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 12px;
    font-size: 14px;
    border: 0px solid #DCDCDC;   
    vertical-align: top;
}

.isDisabled {
  cursor: not-allowed;

}
#rcorners2 {
    border-radius: 10px;
    border: 0px solid #73AD21;
    padding: 15px; 
    margin-left: auto;
    margin-right: auto;
    width: 95%;   
    text-align: center;
    font-size: 20px;
    background-color: #CCFFCC;
    margin-bottom: -5px;
}

label > input{ 
  visibility: hidden; 
  position: absolute; 
}
label > input + img{ 
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ 
  border:4px solid black;
  border-radius: 100%;
}
.fa-dot-circle-o{
      visibility: hidden; 
}
.fa-circle-o{
      visibility: hidden; 
}